@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.title-fill-color {
  -webkit-text-fill-color: transparent;
}

.custom-link-pseudo::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -5px;
  left: 0;
  background: linear-gradient(
    315.38deg,
    #fd13ee 0.95%,
    #fd5e84 51.19%,
    #fec038 102.55%
  );
  transition: width 0.3s ease;
  pointer-events: none;
}

.custom-link-pseudo:hover.custom-link-pseudo::after {
  width: 100%;
}
